
{{#each rand}}
<div class="beer-container-rand">
  <div class="image-rand img-fluid">
<img src={{this.image_url}} alt="">

  </div>

  <div class="text-rand">
<h2>{{this.name}} </h2>
<h3>{{this.tagline}} </h3>
<p>{{this.description}} </p>

<h4>Food Paring</h4>
<ul>
  {{#each food_pairing}}
<li>{{this}} </li>
  {{/each}}

</ul>

<h4>Brewers Tips</h4>
<p>{{this.brewers_tips}} </p>

  </div>
</div>
{{/each}}

